
#books-list{
    color: #5F6360;
    margin-block: 40px;

    h1{
        font-size: 30px;
        font-weight: 700;
    }

    .search-header{
        width: 30%;
    }

    #search-input{
        position: relative;
        
        i {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
    }

    #add-btn{
        padding:10px 20px;
        font-weight: 600;
        border-radius: 15px;
        transition: all 0.3s;
        background-color:#0D4DC8;
        color: #fff;
    }
    #table-container{
        overflow-x: auto;
        width: 100%;
    }
    table{
        word-break: normal;
        th,td{
            color: #5F6360;
            padding-block: 20px;
            text-align: start;
        }
        td{
            word-break: normal;
        }
        td:nth-child(4){
            word-break: break-all;
        }
    }

     

    .pagination{
        width: fit-content;
        margin-left:auto;

        .page-item{
            width: 30px;
            height: 30px;
            cursor: pointer;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            margin-right:10px ;
            transition: 0.3s all;
        }
        
        .active-page{
            background-color: #0F4CCA;
            color: #fff;
        }
    }
    
    #search-results{
        border: 1px solid #86b7fe;
        transition: all 0.3s;
        max-height: 400px;
        overflow-y:auto ;
        overflow-x: hidden;
        position: absolute;
        width: 100%;
        word-wrap: break-word;
        .search-item{
            a{
                color: #5F6360;
            }
            padding: 5px 5px;
            &:hover{
                background-color: #ECECEC;
            }
            .search-line{
                background-color: #5f63603a;
                height: 1px;
            }
        }
    }
    
}

#delete-warning{
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 15px 10px #DFDFDF;
    color: #5F6360;
    h3{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 25px;
    }

    
}

@media (max-width: 991.98px) { 
    #books-list{

        .search-header{
            width: 50%;
        }
       
    }
}
@media (max-width: 767.98px) {
    #books-list{
        table{
            font-size: 12px;
        }
    }
 }

@media (max-width: 575.98px) {
    #books-list{

        .search-header{
            width: 100%;
        }
        #add-btn{
            width: 100%;
        }
        .pagination{
            margin-left: 0;
            .page-item{
                margin-right:3px ;
            }
        }
        table{
            td{
                padding: 0;
            }
        }
    }
    #delete-warning{
        width: 75%;
        button{
            width: 100% ;
            margin-block: 10px;
        }
    }
 }
