@import 'scss_variables/variables';

#books-list{
    color: $header-color;
    margin-block: 40px;

    h1{
        font-size: 30px;
        font-weight: 700;
    }

    .search-header{
        width: 30%;
    }

    #search-input{
        position: relative;
        
        i {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
    }

    #add-btn{
        padding:10px 20px;
        font-weight: 600;
        border-radius: 15px;
        transition: all 0.3s;
        background-color:$bg-blue;
        color: $white;
    }
    #table-container{
        overflow-x: auto;
        width: 100%;
        table{
            word-break: normal;
            th,td{
                color: $header-color;
                padding-block: 20px;
                text-align: start;
            }
            td{
                word-break: normal;
            }
            td:nth-child(4){
                word-break: break-all;
            }

            .fa-eye{
                color:$bg-blue;
            }
        }
    }
    

     

    .pagination{
        width: fit-content;
        margin-left:auto;

        .page-item{
            width: 30px;
            height: 30px;
            cursor: pointer;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            margin-right:10px ;
            transition: 0.3s all;
        }
        
        .active-page{
            background-color: $bg-blue;
            color: $white;
        }
    }
    
    #search-results{
        border: 1px solid $light-border-color;
        transition: all 0.3s;
        max-height: 400px;
        overflow-y:auto ;
        overflow-x: hidden;
        position: absolute;
        width: 100%;
        word-wrap: break-word;
        .search-item{
            a{
                color: $header-color;
            }
            padding: 5px 5px;
            &:hover{
                background-color: $bg-light;
            }
            .search-line{
                background-color: $shadow-color;
                height: 1px;
            }
        }
    }
    
}



@media (max-width: 991.98px) { 
    #books-list{

        .search-header{
            width: 50%;
        }
       
    }
}
@media (max-width: 767.98px) {
    #books-list{
        table{
            font-size: 12px;
        }
    }
 }

@media (max-width: 575.98px) {
    #books-list{

        .search-header{
            width: 100%;
        }
        #add-btn{
            width: 100%;
        }
        .pagination{
            margin-left: 0;
            .page-item{
                margin-right:3px ;
            }
        }
        table{
            td{
                padding: 0;
            }
        }
    }
    #delete-warning{
        width: 75%;
        button{
            width: 100% ;
            margin-block: 10px;
        }
    }
 }
