$bg-light:#F0F0F0;
$bg-red:#AF001D;
$bg-blue:#0D4DC8;
$bg-body : #Eff1fD;
$white:#fff;
$header-color:#5F6360;
$header2-color:#464646;
$shadow-color:#B3B3B3;
$info-color:#7C7C7C;
$light-border-color:#86b7fe;
$lavender-color:#E8B2DE;
$lavender-border-color:#B8669F;
$lavender-layer:rgba(138, 43, 226, 0.3);

