@import 'scss_variables/variables';

#books-details{
    margin-block: 20px;
    h1{
        font-size: 30px;
        font-weight: 700;
        color: $header-color;
    }

   
    #image-placeholder{
        width: 128px;
        height: 200px;
        box-shadow: 3px 3px 5px $shadow-color;
        border-radius:10px ;
        position: relative;
        i {
            position: absolute;
            color:$shadow-color ;
            bottom: -13px;
            left: 20px;
            font-size: 14px;
        }
        #image-wrapper{
            img{
                object-fit:contain;
            }
            position: absolute;
            top: -3px;
            left: -3px;
            right: 3px;
            bottom: 3px;
            position: absolute;
            border-radius:10px ;
            overflow: hidden;
        }
        
    }
    #main-details{
        
        h3{
            color:$header2-color;
            font-weight: 700;
            font-size: 22px;
            text-align: center;
        }
        #download{
            
            margin: auto;
            background-color: $bg-light ;
        }

        #book-info{
            .info-item{
                display: flex;
                flex-direction: column;
            }
        }
    }
    .info-text{
        color: $info-color;
        font-size: 14px;
        font-weight: 600;
        margin-bottom:5px;
    }
    .info-number{
        color:$bg-blue;
        font-weight: 700;
        font-size: 20px;
    }

    #more-details{
        margin-top: 60px;
        h4{
            color:$header-color ;
            font-weight: 700;
            margin-bottom: 15px;
        }
        #book-category{
            background-color: $bg-light;
            width: fit-content;
            padding: 10px 20px;
            border-radius: 15px;
        }
    }
}





@media (max-width: 575.98px) {
    #books-details{
        #control-buttons{
            margin-top: 20px;
            button{
                width: 100%;
                margin-block: 5px;
            }
        }
    }
    #delete-warning{
        width: 75%;
        button{
            width: 100% ;
            margin-block: 10px;
        }
    }
 }