
h1{
    font-size: 25px;
}

#form-data{
    padding: 40px;
}

.line{
    height: 1px;
    background-color: #EFF1FD;
}

#image-container{
    height: 100%;
    background-image: url('../../../assets/images/login.jpg');
    background-position: cover;
}

input{
    background-color: #EFF1FD;
}