/* You can add global styles to this file, and also import other style files */

$bg-color:#Eff1FD;

.custom-container{
    padding-inline: 30px;
}
.cursor-pointer{
    cursor: pointer;
}
body{
    background-color:$bg-color;
}
input:focus,select:focus,textarea:focus{
    box-shadow: none !important;
}

#control-buttons{
    button{
        margin-inline-end: 10px;
        padding:10px 20px;
        border-radius: 15px;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.3s;
        &:hover{
            color: #000;
        }
    }
    #grey-btn{
        background-color:#F0F0F0 ;
    }
    #red-btn{
        background-color: #AF001D;
        color: #fff;
    }
    #blue-btn{
        background-color:#0D4DC8;
        color: #fff;
    }
}

@media (max-width: 767.98px) {
    .custom-container{
        padding-inline: 0px;
    }
 }