/* You can add global styles to this file, and also import other style files */

@import 'scss_variables/variables';

.custom-container{
    padding-inline: 30px;
}
.cursor-pointer{
    cursor: pointer;
}
body{
    background-color:$bg-body;
}
input:focus,select:focus,textarea:focus{
    box-shadow: none !important;
}

.control-buttons{
    button,a{
        margin-inline-end: 10px;
        padding:10px 20px;
        border-radius: 15px;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.3s;
    }
    .grey-btn{
        background-color:$bg-light ;
    }
    .red-btn{
        background-color: $bg-red;
        color: $white;
    }
    .blue-btn{
        background-color:$bg-blue;
        color: $white;
    }
}

.delete-warning{
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 10px 7px $shadow-color;
    color: $header-color;
    h3{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 25px;
    }

    
}


@media (max-width: 767.98px) {
    .custom-container{
        padding-inline: 0px;
    }
 }