@import 'scss_variables/variables';
aside{
    background-color: $white;
    transition: all 0.3s ;
    height: 100%;
    width: 65px;
    #sidebar-head{
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    & .sidebar-item{
        padding: 15px;
        font-weight: 700;
        border-right: 3px solid $lavender-border-color;
        background-color: $bg-body;
    }
}


.expand{
    width: 250px ;
    padding: 20px 0px;
}

.expand-icons{
    width: 100%;
    height: 80px;

}

#sidebar-icon i{
    padding: 10px;
}

@media (max-width: 767.98px) {
    aside{
        
        width: 30px;
        #sidebar-head{
            margin-bottom: 20px;
            
        }
        & .sidebar-item{
            padding: 0px;
            text-align: center;
        }
       
    }
    
 }